<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chattingMapper">
	
	<resultMap type="chatRoom" id="chatRoomResultSet">
		<id property="chatRoomNo" column="CHAT_ROOM_NO"/>
		
		<result property="title" column="TITLE"/>
		<result property="status" column="STATUS"/>
		<result property="userNo" column="USER_NO"/>
		<result property="userName" column="USER_NAME"/>
		<result property="cnt" column="CNT"/>
	</resultMap>

	<resultMap type="chatMessage" id="chatMessageResultSet">
		<id property="cmNo" column="CM_NO"/>
		
		<result property="message" column="MESSAGE"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="chatRoomNo" column="CHAT_ROOM_NO"/>
		<result property="userNo" column="USER_NO"/>
		<result property="userName" column="USER_NAME"/>
	</resultMap>
	
	<!-- 채팅방 목록 조회 -->
	<select id="selectChatRoomList" resultMap="chatRoomResultSet">
	SELECT 
	    CHAT_ROOM_NO,
	    TITLE,
	    USER_NAME,
	    (SELECT COUNT(*) FROM CHAT_ROOM_JOIN B WHERE B.CHAT_ROOM_NO = A.CHAT_ROOM_NO) CNT
	FROM CHAT_ROOM A
	JOIN MEMBER M USING(USER_NO)
	WHERE A.STATUS = 'Y'
	ORDER BY CHAT_ROOM_NO DESC
	</select>
	
	<insert id="openChatRoom" useGeneratedKeys="true">
		
		<selectKey keyProperty="chatRoomNo" resultType="int" order="BEFORE">
			SELECT SEQ_CR_NO.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO CHAT_ROOM VALUES
		(#{chatRoomNo},#{title},DEFAULT,#{userNo})
	</insert>
	
	<insert id="insertMessage">
		INSERT INTO CHAT_MESSAGE
		VALUES(SEQ_CM_NO.NEXTVAL, #{message}, SYSDATE, #{chatRoomNo}, #{userNo})
	</insert>
	
	<select id="joinCheck" resultType="int">
		SELECT
			COUNT(*)
		FROM CHAT_ROOM_JOIN
		WHERE CHAT_ROOM_NO = #{chatRoomNo} AND USER_NO = #{userNo}
	</select>
	
	<insert id="joinChatRoom">
		INSERT INTO CHAT_ROOM_JOIN
		VALUES(#{userNo}, #{chatRoomNo})
	</insert>
	
	<select id="selectChatList" resultMap="chatMessageResultSet">
		SELECT 
			MESSAGE,
			CREATE_DATE,
			USER_NO,
			USER_NAME
		FROM CHAT_MESSAGE
		JOIN MEMBER USING(USER_NO)
		WHERE CHAT_ROOM_NO = #{chatRoomNo}
		ORDER BY CM_NO
	</select>
	
	<delete id="exitChatRoom">
		DELETE FROM CHAT_ROOM_JOIN
		WHERE USER_NO = #{userNo} AND CHAT_ROOM_NO = #{chatRoomNo}
	</delete>
	
	<!-- 채팅방 인원수 확인 -->
	<select id="countChatRoomMember" resultType="int">
		SELECT COUNT(*)
		FROM CHAT_ROOM_JOIN
		WHERE CHAT_ROOM_NO = #{chatRoomNo}
	</select>
	
	<!-- 채팅방 닫아주기 -->
<!-- 	<delete id="closeChatRoom"> -->
<!-- 		DELETE FROM CHAT_ROOM -->
<!-- 		WHERE CHAT_ROOM_NO = #{chatRoomNo} -->
<!-- 	</delete> -->
	
	<update id="closeChatRoom">
		UPDATE CHAT_ROOM
		SET STATUS = 'N'
		WHERE CHAT_ROOM_NO = #{chatRoomNo}
	</update>
</mapper>